body {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background: top/contain no-repeat url(images/pattern-background-desktop.svg),
    hsl(225, 100%, 94%);
}
.container {
  width: 30%;
  margin: auto;
  background-color: white;
  text-align: center;
  border-radius: 1rem;
}
.container a {
  display: block;
  font-weight: 900;
}
.container a:first-child {
  color: hsl(245, 75%, 52%);
}
.content {
  padding: 1rem;
  width: 70%;
  margin: 2rem auto 1rem;
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 100%, 98%);
  border-radius: 1rem;
  align-items: center;
}
.content-img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
h1 {
  width: 70%;
  margin: 2rem auto 0;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  letter-spacing: -0.5px;
  font-size: 28px;
}
p {
  width: 70%;
  margin: 1rem auto;
  font-size: 16px;
  color: hsl(224, 23%, 55%);
  font-weight: 500;
}
h2 {
  font-size: 16px;
  margin: 0;
  padding-bottom: 0.5rem;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  line-height: 0.5;
}
span {
  color: hsl(224, 23%, 55%);
  font-weight: 500;
}
#price {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: flex-start;
  margin-left: 1rem;
}
.btn {
  text-decoration: none;
  font-weight: 900;
  font-size: 16px;
}
.btn-payment {
  width: 70%;
  display: inline-block;
  padding: 15px;
  border-radius: 1rem;
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 94%);
  margin: 2rem auto;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
}
.btn-cancel {
  margin: 2rem auto;
  padding-bottom: 1.5rem;
  color: hsl(224, 23%, 55%);
}
@media (max-width: 1100px) {
  .container {
    width: 60%;
  }
}
@media (max-width: 900px) {
  .container {
    width: 90%;
  }
  .content,
  .btn-payment,
  p,
  h1 {
    width: 80%;
  }
}
